<div class="container">
  <div class="full">
    <p><%= link_to "See all colleges", colleges_path %></p>

    <%
      header =
        if @label_code.present?
          "#{@label_code.humanize} colleges"
        else
          "Colleges"
        end
      if @query.present?
        header += " matching '#{@query}'"
      end

      if @latitude.present? && @longitude.present?
        header += " near #{@latitude}, #{@longitude}"
      end
    %>
    <h1><%= header %></h1>
  </div>
</div>

<%= render "layouts/colleges" %>
